Binaries
/
DerivedDataCache/

Intermediate
/
Saved
/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/
Content/Maps/
Content/Characters/Textures/
Content/Weapons/Textures/
Content/Movies/
Content/Environment/Materials/
Content/Environment/Meshes/
Content/Environment/
Content/Sounds/
Content/CSC/
